.menu-container{
    width: 75dvw;
    margin: 1rem auto;
    padding: 1rem ;
    background-color: var(--team-ele-bg);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    border-radius: 0.5rem;
}

.menu-wrap{
    text-align: center;
    color: var(--team-text);
}

.menu-focus{
    text-align: center;
    color: var(--team-text);
}

.menu-wrap:hover{
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;
    min-width: fit-content;
}

.menu-icon{
    font-size: 1.25rem;
    position: relative;
}

.add-icon{
    font-size: 0.8rem;
    top: 0.1rem;
    right: 1.3rem;
    position: absolute;
}

.menu-label{
    font-size: 1rem;
}

@media screen and (max-width:800px) {
    .menu-container{
        width: 90dvw;
    }
}