.product-container {
    width: 41dvw;
    max-width: 200px;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius:0.3rem ;
    transition: all 0.3s;
    background-color: var(--team-ele-bg);
}

.product-container:hover {
    scale: 1.05;
    cursor: pointer;
}


.product-image-wrap {
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    border-radius:0.3rem ;
}

.product-image {
    height: 100%;
    transform: translate(-25%,0%);
    position: absolute;
}

.product-name{
    font-size: 1.2rem;
    color: var(--team-text);
    width: 100%;
}

.product-price{
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    color: var(--team-text);
}