.page {
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(
    116deg,
    #e7e9ff -0.42%,
    #31437d 72.29%,
    #17254f 97.63%
  );
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  max-width: 500px;
  width: 90% !important;
  min-width: 350px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--team-ele-bg) !important;
}
.card-header {
  border: none;
  margin: 1rem 0;
}
.header-text {
  color: #000;
  font-family: Inter;
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 1rem 0 0.5rem 0;
}
.header-detail {
  color: var(--team-text) !important;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.card-body {
  padding-bottom: 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: var(--team-ele-bg) !important;
}

.form-group {
  width: 80%;
  text-align: left;
  margin: 1rem auto;
}

.form-group > label {
  color: var(--team-text) !important;
  /* H6 16px Regular Inter */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 1.75rem */
}

.form-group > input {
  width: 100%;
  font-size: 1.15rem;
  border-radius: 0.3rem;
  border: 1px solid var(--team-text);
  color: var(--team-text) !important;
  display: flex;
  padding: 0.35rem;
  align-items: center;
}

.form-group > input:focus {
  border-color: var(--light-cyan);
  outline: 1px solid var(--light-cyan);
}
.forgot-pass-wrap {
  display: flex;
  justify-content: end;
  width: 100%;
  color: var(--team-text);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;
}

.forgot-pass-wrap:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.sigin-btn {
  margin-top: 1rem;
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.sigin-btn:hover {
  scale: 1.05;
  cursor: pointer;
  transition: all 0.2s;
}
