.wallet-container {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius:0.5rem ;
    transition: all 0.2s;
    background-color: var(--white);
    box-shadow: 1px 3px 5px var(--light-gray);
}

.wallet-container:hover {
    scale: 1.05;
    cursor: pointer;
}

.supplier{
    width: 60%;
}
.typr{
    width: 60%;
}
.amount{
    width: 20%;
    text-align: center;
}
.total{
    width: 20%;
    text-align: center;
}
