.order-page-container {
  width: 95% !important;
  height: 75dvh;
  margin: 1rem auto;
  border-radius: 0.5rem;
  color: var(--team-text);
}
.sup-order-page-container {
  width: 95% !important;
  margin: 0 auto;
}

.sup-order-search{
    max-width: 500px;
}

.sup-order-list {
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 500px;
  background-color: var(--team-ele-bg);
}

.order-id{
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--team-text);
}

.sup-order-list-info {
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin-bottom: 0.5rem;
  align-items: center;
}

.sup-order-info {
  width: 80%;
  height: 100%;
  margin:1rem 0 0 1rem;
  color: var(--team-text);
}

.sup-order-topic {
  min-width: 100px;
}

.sup-order-list-shop-detail {
  color: var(--team-text);
  font-size: 1.5rem;
  text-align: right;
  margin-right: 2rem;
}
