.product-prod-page-container {
  width: 95% !important;
  height: 100%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  color: var(--team-text);
  padding-top: 2rem;
}

.product-prod-data {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-prod-img-wrap {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0.3rem;
}

.product-prod-img {
  width: 100%;
}

.product-prod-info {
  width: 100%;
  max-width: 600px;
}

.product-prod-detail {
  width: 100%;
  font-size: 1.1rem !important;
  text-overflow: ellipsis;
  text-wrap: wrap;
  word-wrap: break-word;
}

.product-prod-info-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.product-prod-info-label {
  width: 15%;
  min-width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.product-prod-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  height: 5dvh;
}

.product-prod-price {
  width: 80%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  height: 3dvh;
}

.product-prod-quan {
  width: 80%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  height: 3dvh;
}
.product-prod-detail {
  width: 80%;
  font-size: 1.3rem;
  max-height: 30dvh;
  min-height: 10dvh;
  height: fit-content;
  margin-bottom: 0.5rem;
}

.quantity-btn {
  /* margin-top: 1rem;
  width: fit-content;
  min-width: 100px; */
  width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  /* height: 3dvh; */
}

.sup-product-prod-btn-wrap {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.atc-btn{
  width: fit-content !important;
  font-size: 1.1rem !important;
  background-color: var(--team-btn);
}
.product-btm-menu{
  margin-top: 0.5rem !important;
  width: 50% !important;
}

@media screen and (max-width:600px) {
  .product-prod-data {
    height: 95%;
  }
  .product-prod-page-container {
    padding-top: 0;
  }
  .product-prod-img-wrap{
    width: 100%;
    max-width: none;
  }
  .product-prod-img{
    width: 100%;
    max-width: none;
  }
  .atc-btn{
    font-size: 1.3rem !important;
    background-color: var(--team-btn);
  }
}