.home-page-container {
  /* display: flex; */
  /* border-radius: 0.5rem; */
  width: 100%;
}

.cus-home-search {
  display: flex;
  /* width: 93dvw !important; */
  width: 100% !important;
  overflow-x: auto;
  margin: 0.5rem auto !important;
  background-color: var(--team-ele-bg);
  border: none !important;
}

.current-shop {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  background-color: var(--team-ele-bg);
  border-radius: 0.3rem;
}

.shop-image-wrap {
  width: 20%;
  max-width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0.5rem;
  /* position: relative; */
}

.shop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-info {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  color: var(--team-text);
}

.shop-name {
  font-size: 1.2rem;
}

.req-credit{
    text-decoration: underline;
}

.change-btn {
  width: 20%;
  color: var(--team-text);
  margin-right: 0.5rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.shop-list {
  /* display: flex; */
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  background-color: var(--team-ele-bg);
  border-radius: 0.3rem;
  transition: all 0.3s;
}

.shop-list-order {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  background-color: var(--team-ele-bg);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.shop-list-order:hover {
  background-color: var(--team-text);
  .shop-info,
  .change-btn {
    color: var(--team-bg);
  }
}

.product-list {
  /* width: 100dvw; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 80dvh;
  justify-content: space-between;
  transition: all 0.3s;
}

.search-container {
  width: fit-content;
  margin-right: 0.5rem;
  padding: 0.1rem 0;
  border: 2px solid #b7bdd1;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}

.credit-credit-amount{
    color: var(--team-text-content);
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--team-text-content);
} 

.alert-container{
    background-color: var(--team-ele-bg);
    color: var(--team-text);
    .modal-body{
        width: 100%;
        height: fit-content;
    }
    .input-wrap{
        width: 100%;
    }
    .input-controller{
        border: 1px solid var(--team-text) !important;
        width: 100% !important;
    }
    .req-btn{
        background-color: var(--team-btn);
    }
}

.modal-shop-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-team);
  margin-bottom: 1rem;
}

.modal-amount {
  color: var(--text-team);
}
.home-card-body {
  width: 100% !important;
}
.home-input-container {
  padding: 0 !important;
}
