.home-page-container{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 5px var(--light-gray);
}

.shop-list{
    width: 8dvw;
    overflow-y: auto;
    max-height: 40dvh;
    margin:0 auto 0 0rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: white;
    box-shadow: 1px 3px 5px var(--light-gray);
    padding: 1rem;
}

.shop-name{
    font-size: 1rem;
    color: var(--team-text-content);
    transition: all 0.2s;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
    border-bottom: 1px solid var(--team-text-content);
}
.shop-name:hover{
    scale: 1.05;
    cursor: pointer;
}

.product-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 80dvh;
    justify-content: space-around;
}

.credit-box{
    width: 8dvw;
    overflow-y: auto;
    max-height: 12dvh;
    margin:0 0 0 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: white;
    box-shadow: 1px 3px 5px var(--light-gray);
    padding: 1rem;
    overflow-y: auto;
}

.credit-shop-name{
    color: var(--text-team);
    font-size: 1.1rem;
}

.credit-credit-amount{
    color: var(--team-text-content);
    display: flex;
    flex-wrap: wrap;
    /* min-width: 120px; */
    font-size: 1.1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--team-text-content);
}

.request-credit{
    color: var(--team-text-content);
    text-decoration: underline;
    margin-top: 1.5rem;
    transition: all 0.2s;
}
.request-credit:hover{
    cursor: pointer;
    scale: 1.05;
}

.modal-shop-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-team);
}

.modal-amount{
    color: var(--text-team);
}
.card-body{
    margin: 0 auto;
}
.home-card-body{
    width: 100% !important;
}
.home-input-container{
    padding: 0 !important;
}