.cart-page-container {
    width: 100% !important;
}

.table {
    color: var(--team-text);
    width: 100%;
}

.thead {
    width: 100%;
    text-align: center;
}

.cart-trow {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid var(--team-text);
}

.tbody {
    height: 65dvh;
    overflow-y: auto;
}

.th,
.td {
    padding: 0.2rem;
    min-width: 100px;
}

.product {
    width: 40%;
}

.unit-price {
    width: 20%;
    text-align: center;
}

.quantity {
    width: 20%;
}

.total-price {
    width: 20%;
    text-align: center;
}

.action {
    width: 20%;
    text-align: center;
}