.credit-page-container {
  width: 95% !important;
  margin: 0 auto;
}

.sup-credit-search{
    max-width: 500px;
}

.credit-list {
  background-color: var(--team-ele-bg);
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 500px;
}

.credit-shop-info {
  width: 35%;
  text-align: center;
}

.credit-list-shop-name {
  margin: 0 1rem 0.5rem 1rem;
  color: var(--team-text);
  font-size: 1rem;
  font-weight: bold;
  /* border-bottom: 1px solid var(--team-text); */
}

.credit-list-info {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 0.5rem;
}
.credit-image-wrap {
  width: 70%;
  max-width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  /* display: flex; */
}
.credit-image {
  height: 100%;
  transform: translate(-25%, 0%);
}

.credit-info {
  width: 80%;
  height: 100%;
  margin: 0 1rem;
  text-align: center;
  color: var(--team-text);
}

.credit-topic {
  min-width: 100px;
}

.credit-list-shop-detail {
  color: var(--team-text);
  font-size: 1.5rem;
  text-align: right;
  margin-right: 2rem;
}
