.home-page-container{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 5px var(--light-gray);
}


.product-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 80dvh;
    justify-content: space-around;
    margin: 0 auto;
}