.history-page-container{
    width: 75dvw;
    display: flex;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 1px 3px 5px var(--light-gray);
}

.table{
    color: var(--team-text-content);
    width: 100%;
    padding: 1rem;
}

.thead{
    width: 100%;
    text-align: center;
}
.trow{
    width: 100%;
    border-bottom: 1px solid var(--team-text-content);
}

.tbody{
    height: 65dvh;
    overflow-y: auto;
}

.th,.td{
    padding: 0.2rem;
}

.order{
    width: 30%;
}
.price{
    width: 15%;
    text-align: center;
}
.address{
    width: 40%;
}
.status{
    width: 15%;
    text-align: center;
}