.history-page-container {
  width: 100% !important;
}

.history-list{
  background-color: var(--team-ele-bg);
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  width: 100%;
}

.history-list-shop-name{
    margin: 0 1rem 0.5rem 1rem;
    color: var(--team-text);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--team-text);
    
}

.history-list-shop-detail{
    margin: 0.5rem 1rem 0rem 1rem;
    color: var(--team-text);
    font-size: 1.2rem;
    border-top: 1px solid var(--team-text);
    text-align: right;
    text-decoration: underline;
}

.history-list-row {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
}
.history-image-wrap {
  width: 35%;
  max-width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}
.history-image {
  height: 100%;
  transform: translate(-25%, 0%);
}

.history-info {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  color: var(--team-text);
}

.history-topic {
  min-width: 100px;
}
