.sup-product-container {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius:0.5rem ;
    transition: all 0.2s;
    background-color: var(--white);
    box-shadow: 1px 3px 5px var(--light-gray);
    padding: 0.5rem 2rem;
}

.sup-product-container:hover {
    cursor: pointer;
    background-color: var(--light-gray-20);
}


.sup-product-image-wrap {
    width: 20%;
    height: 3.5rem;
    min-width: 10rem;
    color: var(--light-gray);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sup-product-image {
    height: 100%;
}

.sup-product-name{
    width: 40%;
    font-size: 1.2rem;
    color: var(--light-gray);
}

.sup-product-price{
    width: 15%;
    font-size: 1.2rem;
    color: var(--light-gray);
    text-align: center;
}

.sup-product-quantity{
    width: 15%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--light-gray);
}