.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    background-color: var(--team-ele-bg);
    color: var(--team-text-topic);
    /* box-shadow: 1px 3px 5px var(--light-gray); */
}

.logo-wrap {
    width: 10%;
    min-width: fit-content;
    text-align: center;
    padding: 0.2rem 1rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-menu{
    margin-right: 1rem;
    .menu-icon{
        font-size: 1.3rem !important;
    }
}